[include]
  path = ~/.gitconfig.local
[commit]
	gpgsign = true
[push]
	autoSetupRemote = true
[alias]
	alias = "!# Prints all aliases.;\n\
    		git config --list \
    		| egrep '^alias.+' \
    		| sed -e 's/^alias\\.//' \
    		| sed -e 's/^[^=]*=/\\'$'\\033[31m&\\033[(B\\033[m/' \
    		| column -t -s'=' \
    		| sed 's/!#* *//; s/;$//' \
    		| cut -c1-85"
	b0 = "!git branch | awk '/^\\*/{print $2}'"
	cleanbranch = "!git branch -d $(git branch --merged | grep -v '^\\*\\|\\<master$')"
	rebase-onto = "!f() { git rebase --onto main $(git merge-base \"$1\" \"$2\") \"$1\"; }; f"
	update = "!f() { git fetch origin $1:$1; }; f"
  resolve = "!f() { git restore --source=main yarn; git add yarn.lock .yarn; git merge --continue; }; f"
	main = "!git fetch origin main:main"
	gone = ! git fetch -p && git for-each-ref --format '%(refname:short) %(upstream:track)' | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D


